fastapi
uvicorn
chromadb
requests
pypdf
pydantic
python-multipart
python-multipart
langgraph
langchain-ollama
langchain-core
ragas
datasets
langchain-community
langchain-google-vertexai
langchain-google-vertexai
